@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  padding: 0%;
  margin: 0%;
  width: 100%;
}

body {
  color: black;
  background: #fffff0;
}
.clip {
  animation: clip 10s infinite ease-in-out;
  overflow: hidden;
  width: 100%;
  /* border-radius: 100%; */
}

@keyframes clip {
  0% {
    clip-path: polygon(
      50% 0%,
      64% 5%,
      79% 10%,
      90% 20%,
      99% 50%,
      91% 80%,
      81% 90%,
      64% 95%,
      50% 100%,
      35% 95%,
      20% 90%,
      10% 80%,
      0% 50%,
      10% 20%,
      20% 10%,
      35% 5%
    );
  }
  25% {
    clip-path: polygon(
      50% 0%,
      64% 5%,
      79% 11%,
      91% 20%,
      99% 50%,
      91% 80%,
      81% 91%,
      63% 95%,
      50% 100%,
      33% 95%,
      20% 90%,
      10% 80%,
      0% 50%,
      11% 20%,
      20% 10%,
      33% 6%
    );
  }
  50% {
    clip-path: polygon(
      50% 0%,
      64% 5%,
      79% 11%,
      92% 21%,
      98% 51%,
      91% 82%,
      81% 91%,
      65% 96%,
      52% 99%,
      35% 95%,
      21% 92%,
      10% 79%,
      0% 50%,
      10% 20%,
      22% 10%,
      35% 5%
    );
  }
  75% {
    clip-path: polygon(
      50% 0%,
      64% 5%,
      79% 12%,
      90% 20%,
      100% 50%,
      91% 80%,
      81% 90%,
      64% 95%,
      50% 100%,
      35% 95%,
      20% 90%,
      10% 78%,
      0% 50%,
      10% 20%,
      20% 10%,
      35% 5%
    );
  }
  100% {
    clip-path: polygon(
      50% 0%,
      64% 5%,
      79% 10%,
      90% 20%,
      99% 50%,
      91% 80%,
      81% 90%,
      64% 95%,
      50% 100%,
      35% 95%,
      20% 90%,
      10% 80%,
      0% 50%,
      10% 20%,
      20% 10%,
      35% 5%
    );
  }
}

body::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
